@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Luckiest+Guy&family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Gravitas One', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Secular One', sans-serif;

}
html{
  scroll-behavior: smooth;
}